body {
    margin: 0;
    font-family: technic, sans-serif;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.wrapperApp{
    max-height: 100vh;
    position: relative;
    background: url('srcFile/cover.jpg') center no-repeat;
    background-size: cover;
}

.intro {
    max-height: 100vh;
    overflow: hidden;
    position: relative;

    background: url('srcFile/cover.jpg') center no-repeat;
    background-size: cover;
}

.intro:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .2);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.intro__title {
    margin: 0;

    font-size: 45px;
    color: #fff;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.video {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}

.video__media {
    width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;
}

.menu-wrapper{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    z-index: 3;
    /*background-color: rgba(0, 0, 0, .3);*/
}

.menu{
    display: flex;
}

.menu-item{
    margin-top: 22px;
    margin-left: 50px;
    padding: 0 10px;

}

.menu-item:hover{
    border-bottom: 2px solid green;
}

.menu-item a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.menu-item a:hover{
    color: white;
    font-size: 20px;
}

.bottom-text{
    margin: 0;
}

.bottom-text:after{
    content: ' }';
    color: green;
}

.bottom-text:before{
    content: '{ ';
    color: green;
}

.pageWrapper{
    width: 100%;
    border: 1px solid #ffffff;
    background: white;
    position: relative;
    top:70px
}

.contentWrapper{
    width: 60%;
    margin: 20px auto 0 auto;
    outline: 1px solid red;
}

.projectWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectCard{
    width: 400px;
    height: 270px;
    margin: 10px;
    position: relative;
    border: 1px solid #bebaba;
    border-radius: 5px;
}

.projectCard:after{
    content: 'Read More';
    text-decoration: underline;
    display: block;
    text-align: center;
    padding-top: 120px;
    color: white;
    font-size: 20px;
    position: absolute;
    width: 100%;
    height: 150px;
    background: rgba(0,0,0,0.8);
    left: 0;
    top: 0;
    transition: opacity 0.6s;
    opacity: 0;
    text-shadow: none;
    border-radius: 5px;
}

.projectCard:hover::after {
    opacity: 1;
}

.projectFilter{
    display: flex;
    justify-content: center;
}

.buttonProjectFilter{
    margin: 20px 10px 20px 10px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}

.all{
    background: #d62828;
}

.spa{
    background: #f8d10c;
    color:black;
}

.layout{
    background: #4c8cfa;
    color: black;
}

.other{
    background: #41f62c;
    color: black;
}

.projectContentWrapper{
    width: 95%;
    margin: 20px auto 0 auto;
}

.projectCardImages{
    width: 100%;
    height:200px;
    border-radius: 5px;
}

.projectCardDescriptionTitle{
    font-size: 20px;
    text-align: center;
    text-shadow: none;
    margin: 0;
    color:white;
}

.projectCardDescription{
    padding-top: 10px;
    background: black;
    height: 60px;
    border-radius: 0 0 5px 5px;
}

.projectCardCategoryTag{
    text-align: center;
    margin: 10px 0 0 0;
}